<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CREATE | FunkoShop</title>
  <link rel="stylesheet" href="../../CSS/Style.css">
</head>

<body>
  <header><!-- INICIO HEADER -->
    <nav class="navbar container">
      <picture class="navbar__logo">
        <a href="../../index.html">
          <img src="../../MULTIMEDIA/branding/logo_light_horizontal.svg" alt="Logotipo Marca Funko" />
        </a>
      </picture>
      <ul class="navbar__menu">
        <li class="navbar__item"><a class="navbar__link" href="../shop/shop.html">VER TIENDA</a></li>
        <li class="navbar__item"><a class="navbar__link" href="../admin/admin.html">ADMIN</a></li>
        <li class="navbar__item"><a class="navbar__link" href="../../index.html">SALIR</a></li>
      </ul>
    </nav>
  </header> <!-- FIN HEADER -->
<main>
  <h1>pendiente pato</h1> 
</main>

  <br><br><br>
  <footer class="footer">
    <nav class="navbar container">
      <ul class="navbar_item">
        <li class="navbar__item">
          <a class="navbar__link" href=".././Shop/shop.html">SHOP</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="../admin/register.html">REGISTRARSE</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="./login.html">LOGIN</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href=".././pages/contacto.html">CONTACTO</a>
        </li>
      </ul>
      <picture>
        <img src="../../MULTIMEDIA/branding/isotype.svg" alt="isotipo">
      </picture>
    </nav>


    <p class="footer_copy">All rights reserved 2023 - Funkoshop &copy;</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>