<%- include('../partials/header')%>

<main class="container">
  <h1 class="create__title">EDITAR ITEM</h1>
  <form action="#">
    <div class="create__category-licence">
      <label class="create_label" for="categoria">Categoria: </label>
      <select class="create_select" name="categoria" id="categoria" required>
        <option value="#" disabled>Seleccionar</option>
        <option value="figuras" selected>Figuras</option>
        <option value="valor1">valor1</option>
        <option value="valor2">valor2</option>
        <option value="valor3">calor3</option>
      </select>
      <label class="create__label" for="licencia">Licencia: </label>
      <select class="create__select" name="licencia" id="licencia" required>
        <option value="#" disabled>Seleccionar</option>
        <option value="valor1" selected>Naruto Shipudden</option>
        <option value="valor1">valor1</option>
        <option value="valor2">valor2</option>
        <option value="valor3">calor3</option>
      </select>
      <br>
    </div>
    <div>
      <label class="create__product-info" for="producto">Nombre del producto:</label>
      <input class="create__product-text" id="producto" type="text" placeholder="Kakashi Hatake Shippuden Saga">
    </div>
    <textarea name="#" id="#" class="create_textarea" cols="120" rows="8"
      placeholder="Descripción del producto">Figura Funko coleccionable de Kakashi Hatake de la saga Naruto Shipudden invocando chidori.</textarea>
    <br>
    <div>
      <label class="create__product-info" for="sku">SKU:</label>
      <input class="create__product-text create1" id="sku" type="text" placeholder="NAR001012">
      <label class="create__product-info" for="precio">Precio:</label>
      <input class="create__product-text create1" id="precio" type="text" placeholder="$ 1.799,00">
      <label class="create__product-info" for="stock">Stock:</label>
      <input class="create__product-text create2" id="stock" type="text" placeholder="10">
      <br>
      <label for="descuento">Descuento:</label>
      <input class="create__product-text create2" id="descuento" type="text" placeholder="10%">
      <label class="create__product-info" for="cuotas">Cuotas:</label>
      <select class="create__select" name="cuotas" id="cuotas" required>
        <option value="6cuotas" selected>6 cuotas sin interés</option>
        <option value="3cuotas">3 cuotas sin interés</option>
        <option value="1cuota">1 cuota</option>

      </select>
    </div>
    <br>
    <div>
      <label class="create__product-info" for="carga-imagenes">Imágenes:</label>
      <input type="file" name="carga-imagenes" id="carga-imagenes" placeholder="No se ha seleccionado ningún archivo">
    </div>
    <br>
    <div class="edit__images">
      <figure class="edit__image">
        <img class="edit__image" src="#" alt="Frente de imagen">
        <figcaption class="edit__image-title">Frente</figcaption>
      </figure>
      <figure class="edit_image">
        <img src="#" alt="Dorso de imagen">
        <figcaption class="edit__image-title">Dorso</figcaption>
      </figure>
    </div>

    <button class="edit__button btn-modify">Modificar producto</button>

  </form>
  </section>
</main>
  

<%- include('../partials/footer')%>
  
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>